<div class="fluid-container">
  <div class="row">
    <div class="col-md-8 gallery-panel {{exClass}}">
      <mat-grid-list [cols]="galColumn" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of data">
          <!-- <img [src]="getImage(item?.url)" alt=""> -->
          <div class="image-wrapper" *ngIf="item?.url" [class.selected]="selected?.id == item?.id" (click)="onSelect(item)">
            <div class="image-place" [style.backgroundImage]="getImageB(item?.url)"></div>
            <div class="backdrop">
                <mat-icon color="primary">check</mat-icon>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="col-md-4 info-panel">
      <div class="container">
        <div class="row">
          <form novalidate [formGroup]="formGroup">
            <!-- logo field -->
            <mat-form-field class="full-width">
              <anms-file-input formControlName="file" [placeholder]="'general.upload' | translate"></anms-file-input>
              <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
          </form>
          <button class="full-width" mat-raised-button color="primary" matTooltip="upload" matTooltipPosition="right" (click)="uploadFile()">
            <mat-icon>file_upload</mat-icon>
          </button>
        </div>
        <div class="row">
          <div class="no-selected" *ngIf="!selected">
            <p>
              <i>no selected media</i>
            </p>
          </div>

          <div class="info-selected" *ngIf="selected">
            <div class="preview-image-wrapper">
              <img [src]="getImage(selected?.url)" [alt]="selected?.name">
            </div>
            <label>Name</label>
            <p>{{ selected?.name }}</p>
            <label>Url</label>
            <p>
              <a [href]="getImage(selected?.url)" target="_blank">
                {{ getImage(selected?.url) }}
              </a>
            </p>
            <label>Created At</label>
            <p>{{ selected?.createdAt | date:'medium' }}</p>
            <label>Updated At</label>
            <p>{{ selected?.updatedAt | date:'medium' }}</p>
            <label>Size</label>
            <p>{{ getKb(selected?.size) }}</p>
            <button mat-button color="accent" (click)="delete()" >Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
