<div class="container body-container">
  <mat-card class="wrapper-normal">

    <h4 class="subtitle">{{ 'general.data'|translate|uppercase }}</h4>

    <div class="wrapper-top">

      <div class="button-create-wrapper">
        <button mat-icon-button mat-mini-fab class="button-create" color="primary" matTooltip="create" matTooltipPosition="right"
          (click)="runDialog(null)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="filter-wrapper">
        <mat-form-field class="full-width">
          <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'general.search'|translate|titlecase">
        </mat-form-field>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length > 0">

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> {{ 'general.type' |translate|titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> {{ 'general.amount' |translate|titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.amount|currency:'IDR' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="member">
        <mat-header-cell *matHeaderCellDef> {{ 'menu.member' |translate|titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element" ><span class="member" (click)="openMember(element.nik)"> {{ getMember(element.nik).name }} </span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> {{ 'general.date' |translate|titlecase }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.created_at | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="action">
          <mat-icon>more_horiz</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="action">
          <button *ngIf="element.type != ''" mat-icon-button color="primary" matTooltip="{{'general.edit'|translate}}" matTooltipPosition="right"
            (click)="runDialog(element)">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" *ngIf="dataSource.data.length > 0">
    </mat-paginator>

  </mat-card>
</div>
