.w {
  position: relative;
  text-align: center;
  .center-marker {
    position: absolute;
    z-index: 100;
    width: 50px;
    left: 50%;
    margin-left: -25px;
    top: 225px;
  }
}

agm-map {
  height: 420px;
}

.ok {
//   width: 100%;
  margin-top: 10px;
}

.full-width {
    width: 100%;
}